body{
    margin: 0;
}
a{
    text-decoration: none;
}
.hero{
    color: aliceblue;
}
.hero-container{
    display: grid;
    text-align: center;
    max-width: 1200px;
    justify-content: center;
}
.hero-bg{
    position: absolute;
    z-index: -1;
}
.hero{
    position: relative;
    overflow: hidden;
}
.hero-right{
    display: none;
}
.hero-left{
   padding: 2rem;
   width: 300px;
   align-self: center;
}
.providers{
    background-color: #00132D;
}
.p-header{
    text-align: center;
    color: aliceblue;
}
.p-container{
    display: grid;
    max-width: 1200px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 1rem;
}
.provider{
    background-color: whitesmoke;
    color: #00132D;
    margin: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
img.providers{
    max-width: 75px;
    max-height: 75px;
    background-color: transparent;
}
.p-header{
    background-color: #4361EE;
}
.wv-header-container{
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
}
.header-vps{
    display: flex;
    justify-content: flex-end;
    background-color: #1B0167;
    color: white;
    padding-right: 1rem;
}
.header-vs{
    text-align: center;
    background-color: #420F7A;
    color: white;
}
.header-shared{
    display: flex;
    justify-content: flex-start;
    background-color: #1B0167;
    color: white;
    padding-left: 1rem;
}
.topic{
    background-color: #420F7A;
    color: white;
}
.why{
    background-image: linear-gradient(-45deg, #8E2DE2, #4A00E0);
    color: white;
}
.w-left{
    margin: 1rem;
    padding: 1rem;
}
.w-t1{
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    background: rgba(255,255,255, 0.2);
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px 10px rgba(46,54,68, 0.03);
}
.w-t2{
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    background: rgba(255,255,255, 0.2);
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px 10px rgba(46,54,68, 0.03);
}
.w-t3{
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    background: rgba(255,255,255, 0.2);
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px 10px rgba(46,54,68, 0.03);
}
.w-t4{
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    background: rgba(255,255,255, 0.2);
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px 10px rgba(46,54,68, 0.03);
}
.f-container{
    display: grid;
    justify-content: center;
    align-content: center;
}
.features{
    background-color: #03045E;
    color: white;
    text-align: center;
}
.feature{
    background-color: white;
    color: #03045E;
    min-width: 300px;
    min-height: 300px;
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}
img.f-images{
    height: 100px;
    width: 100px;
}
.feature.last{
    margin-bottom: 10px;
}

























#4361EE
4361EE