body{
    margin: 0;
}
a{
    text-decoration: none;
}
.hero{
    color: aliceblue;
}
.hero-container{
    display: grid;
    text-align: center;
    max-width: 1200px;
    justify-content: center;
}
.hero-bg{
    position: absolute;
    z-index: -1;
}
.hero{
    position: relative;
    overflow: hidden;
}
.hero-right{
    display: none;
}
.hero-left{
   padding: 2rem;
   width: 300px;
   align-self: center;
}